---
// Props fra siden:
const { title, time, image, items, reverse = false } = Astro.props;
---

<section class="card">
  <div class="menu-text">
    <h2>{title}</h2>
    {time && <p class="time">{time}</p>}
    <hr class="divider" />
    <div class="items">
      {
        items.map((item) => (
          <div class="item">
            <div class="item-text">
              <h6>
                <strong>{item.ret}</strong>
              </h6>
              {item.beskrivelse && <p class="item-description">{item.beskrivelse}</p>}
            </div>
            <div class="item-price">{item.pris}</div>
          </div>
        ))
      }
    </div>
  </div>

  {image && <img class="illustration" src={image} alt="Illustration" />}
</section>

<style>
  .divider {
    color: var(--color-secondary-2);
  }

  .card {
    display: grid;
    gap: 1.5rem;
    padding-block: 4rem; /* mere luft top/bund */
    /* border-top: 1px solid #d69e23;  */
  }

  .card:first-of-type {
    border-top: none; /* fjern streg før første sektion */
  }

  .menu-text {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  .items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  /* 2-1 grid for hver ret */
  .item {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: start;
  }

  .item-text p {
    margin: 0.45rem 0 0;
    /* font-size: 0.9rem; */
  }

  .item-description {
    font-style: italic;
    margin: 0.25rem 0 0;
  }

  .item-price {
    text-align: right;
    /* font-weight: bold; */
  }

  /* Illustration placeres under indholdet på mobil */
  .illustration {
    width: 100%;
    max-width: 200px;
    height: auto;
    justify-self: center;
  }

  /* Desktop layout */
  @media (min-width: 768px) {
    .card {
      grid-template-columns: 2fr 1fr;
      align-items: start;
    }

    .illustration {
      align-self: center;
    }
  }
</style>
