---
const { data } = Astro.props;
console.log(data);
---

<article>
  <a href={`products/${data.productname}`}>
    <img src={data.imgs} alt={data.productname} />
  </a>
  <h2>{data.productname}</h2>
  <p>{data.price}DKK</p>
</article>

<style>
  h2 {
    text-align: center;
  }
  p {
    text-align: center;
  }
  img:hover {
    opacity: 50%;
    transform: scale(1.05);
  }
</style>
